<section id="login">
  <h2>Login</h2>
  <div id="form-content">
    <form>
      <label for="username">Username</label>
      <input type="text" id="username">
      <label for="password">Password</label>
      <input type="text" id="password">
      <button type="submit">Login!</button>
    </form>
  <a style="color: blue" href="#">Sign up instead</a>
  </div>
</section>