header {
    padding: 1% 0 1% 2%;
    background-color: brown;
}

li {
    display: inline;
    color: white;
    padding-right: 2%;
    font-size: 24px;
}

h1 {
    background-color: lightblue;
    display: inline-block;
    font-size: 32px;
    border-radius: 7px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 6px 5px 1px black;
}
body {
    background-color: lightblue;
}